@using WebAppSystemBuilder.DTO.Items.HWComponent.GPU

@model GraphicsBaseDTO

<h4>Update a GPU definition</h4>
<div>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TDP">Expected power consumption in Watts (optional)</label>
            <input type="number" asp-for="@Model.TDP" class="form-control" />
        </div>
        <div>
            <label asp-for="ShortDesc">Short Description (optional)</label>
            <input type="text" asp-for="ShortDesc" class=" form-control" />
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Update" />
        </div>
    </form>
</div>
