@using WebAppSystemBuilder.DTO.Items.HWComponent.Shared

@model CPUSocketDTO

<h4>Update socket definition</h4>
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="All" class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <br />
            <label asp-for="ShortDesc">Short Description (optional)</label>
            <input type="text" asp-for="ShortDesc" class=" form-control" />
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Update" />
        </div>
    </form>
</div>
